.activeLink {
  border-bottom: 2px solid var(--blue);
  color: var(--blue)!important;
  
}
.link {
  color: gray;
  font-size: 1.2em;
  font-weight: bold;
}
.counter {
  display: inline-flex;
  margin-left: .5em;
  background-color: var(--green);
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: .8em;
}