.studyCard {
  min-height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
}

.iconLab {
  width: 3em;
  margin-bottom: 2em;
}

.iconAction {
  color: var(--blue);
  font-size: 1.5em!important;
  border: 1px solid var(--blue);
  border-radius: 50%;
  padding: .2em;
  cursor: pointer;
}

.actionContainer {
  top: 1em;
  right: 1em;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}