.form {
  margin-top: 1em;
  width: 80%;
}
.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
.contactWrapper {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: var(--blue);
  font-weight: bold;
}
.contactIcon {
  display: block;
  font-size: 1em!important;
  margin-right: .4em;
  color: #fff;
  background-color: var(--green);
  border-radius: 50%;
  padding: .3em;
}
.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20em;
}
@media screen and (max-width:700px) {
  .form {
    width: 100%;
  }
  .buttonWrapper {
    display: flex;
    justify-content: center;
    font-size: 1.05em;
  }
}