.flexWrapper {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.menuContainer {
  width: 25%;
  margin-right: 2em;
}

.contentContainer {
  flex-grow: 1;
}

.fullWidth {
  background-color: #ababab2e;
  min-height: 100vh;
}


@media screen and (max-width:1200px) {
  .flexWrapper {
    width: 100%;
  }
  .menuContainer {
    width: 20%;
  }
}


@media screen and (max-width:600px) {
  .menuContainer {
    display: none;
  }
}