.flexWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: flex-start;
  min-height: 50vh;
}

.menuContainer {
  width: 18%;
  margin-right: 2em;
  position: sticky;
  top: 6.5em;
  min-width: 18%;
}

.contentContainer {
  flex-grow: 1;
}

.fullWidth {
  background-color: #ababab2e;
  min-height: 100vh;
}


@media screen and (max-width:1200px) {
  .flexWrapper {
    width: 100%;
  }
  .menuContainer {
    width: 20%;
  }
}


@media screen and (max-width:600px) {
  .menuContainer {
    display: none;
  }
}