
.wrapper {
  width: 65%;
  padding: 1.5em;
  margin: auto;
}

.paddingonliLateral {
  padding: 0em 1.5em;
}

@media screen and (max-width:768px) {
  .wrapper {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  
  .paddingonliLateral {
    padding: 0em 1em;
  }
}