.header {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 10;
}

.headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 5em;
  padding: 1em 0em;
  box-sizing: border-box;
  font-weight: bold;
}

.line {
  border-bottom: 3px solid var(--green);
  margin-left: 20%;
  margin-right: .5%;
  margin-top: .4em;
}

.right {
  display: flex;
  align-items: center;
}

.menuIcon {
  font-size: 2.5em!important;
  cursor: pointer;
  color: var(--green);
}

@media screen and (max-width:600px) {
  .logo {
    width: 12em;
  }
  .link {
    font-size: .9em;
  }
  .headerBody {
    height: 5em;
  }
  .line {
    margin-right: 0em;
    margin-top: .1em;
  }
}