.iconWrapper {
  font-size: 1em!important;
  border: 1px solid var(--blue)!important;
  padding: .3em!important;
  display: block!important;
}
.iconWrapper svg {
  color: var(--blue)!important;
  font-size: 1.5em!important;
}
.iconWrapper img {
  color: var(--blue)!important;
  font-size: 1.4em!important;
  width: .9em;
  height: .9em;
}
.caption {
  margin: 0em .7em!important;
}
@media screen and (max-width:600px) {
  .caption {
    margin: 0em .5em!important;
  }
}