.input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid var(--green);
  font-size: 1em;
  padding: 0.7em 0em;
  outline: none;
  color:#000000b0;
  outline: none;
}

.input::placeholder {
  color: #9a9aab;
}