body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
}
@media screen and (max-width:1800px) {
  body {
    font-size: 15px;
  }
}
@media screen and (max-width:1600px) {
  body {
    font-size: 13px;
  }
}
@media screen and (max-width:1400px) {
  body {
    font-size: 11px;
  }
}
@media screen and (max-width:1000px) {
  body {
    font-size: 13px;
  }
}
@media screen and (max-width:600px) {
  body {
    background-color: #fff;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --green: #0fafab;
  --blue: #1a355f;
  --border-color: #cdcdcd;
}
a {
  text-decoration: none;
}