.appointmentIdWrapper {
  font-size: 2em;
  margin-top: .5em;
}

.appointmentIdWrapper .code {
  color: var(--green);
  font-weight: 900;
}

.appointmentIdWrapper .value {
  color: var(--blue);
  font-weight: 900;
  margin-top: -.3em;
}
.bodyLimiter {
  width: 70%;
  margin: 3em auto;
}

.fotterCard {
  font-size: 1.3em;
  background-color: #e3f7f6;
  padding: 1em;
  text-align: center;
  color: var(--blue);
  font-weight: 900;
  border-radius: 1em;
  margin: 3em 0em;
}
.fotterCard .green {
  color: var(--green);
  font-size: 1.4em;
}
.button {
  display: block!important;
  margin: 2em auto!important;
  width: 10em!important;
  border-radius: 50px!important;
}
.contactWrapper {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: var(--blue);
  font-weight: bold;
}
.contactIcon {
  display: block;
  font-size: 1em!important;
  margin-right: .4em;
  color: #fff;
  background-color: var(--green);
  border-radius: 50%;
  padding: .3em;
}
.studyListWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.studyWrapper {
  width: 50%;
  padding: 1em;
  padding-top: 0em;
  padding-left: 0px;
  box-sizing: border-box;
}
.indicationsItem {
  margin-bottom: 1em;
  white-space: pre;
}
@media screen and (max-width:960px) {
  .bodyLimiter {
    width: 100%;
  }
}
@media screen and (max-width:600px) {
  .appointmentIdWrapper {
    text-align: center;
  }
  .studyWrapper {
    width: 100%;
    padding: .5em;
    padding-left: 0em;
  }
  .centerOnlyMobile {
    text-align: center;
  }
  .fotterCard {
    font-size: 1.1em;
    padding-left: .2em;
  }
  .fotterCard .green {
    margin-top: 1em;
  }
}